# Xcode
.DS_Store
build/
*.pbxuser
DerivedData
# Pods - for those of you who use CocoaPods
Pods
*.pbxuser
.idea/
.swiftlint.yml
.ruby-version
RandomAll.xcworkspace/xcuserdata/buubui.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RandomAll/Helper/Credentials.swift